<h1>
	
	This is the scret page 
	
</h1>

<p>
	
	well done u are loged in !!
</p>

<li><a href="/register">Sign Up!!</a></li>
<li><a href="/login">Login!!</a></li>
<li><a href="/logout">Logout!!</a></li>